.nav-tabs {
  --bs-nav-tabs-link-active-color: var(--brand-red);
  --bs-nav-tabs-link-active-bg:    var(--brand-bg);
  --bs-nav-tabs-link-active-border-color: var(--border) var(--border) var(--brand-bg);
  --bs-nav-tabs-border-color: var(--border);
}

.tab-content {
  border-left: var(--border) 1px solid;
  border-bottom: var(--border) 1px solid;
  border-right: var(--border) 1px solid;
}